@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng|Quicksand&display=swap');

body {
  color: black;
  font-family: 'Quicksand', sans-serif;
}


@import 'mixins';

section[id="main"] {
  width: 70%;
  margin: auto;
  min-height: 500px;
  h1[id="main-heading"] {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 4em;
    margin-top: 2.8%;
    text-align: center;
  }

  div[id="main-form"] {
    width: 90%;
    margin: auto;
    margin-top: 10%;
    font-size: 1.4em;
    form {
      input {
        width: 75%;
        height: 55px;
        padding-left: 5%;
        @include round-border2(8px);
      }
      input:focus {
        border:1px solid orange;
      }
      button {
        width: 20%;
        margin: auto;
        height: 55px;
        @include round-border2(8px);
        background-color: orange;
        color: white;
      } 
      button:hover {
        background-color: orchid;
        color: white;
      }    
    }
  }
}

div[id="former-shorts"] {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border: lightslategray solid 1px;
  @include round-border2(8px);
  font-size: 0.89em;
  color: rgb(61, 61, 61);
  div[class="url-row"] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    border-bottom:1px solid lightslategray;
    border-bottom-width: thin;
    div[class*="url-row-"] {
      padding-top: 2%;
      button {
        @include round-border2(4px);
      }
      button:hover {
        background-color: orange;
        color: white;
      }
    } 
  }
  
}